h2{
    color: blue;
}

/* UNIVERSAL SELECTOR */
*{
    border:  1ps dotted gray;
}

.text-center{
    text-align: center;
}

#heading-2{
    text-align:  center;
    background-color: green;
    color: white;
}